:root {
  --primary-color: #a4ce4c;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  color: unset;
  outline: none;
  user-select: none;
  text-decoration: none;
  position: relative;
  font-weight: normal;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

img,
video {
  vertical-align: middle;
}
